option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "salPe.settings"
    PYTHONPATH: "/opt/python/current/app/salPe:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "salPe/salPe/wsgi.py"
container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python3 salPe/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python3 salPe/manage.py createsu"
    leader_only: true
